#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.icons {
  padding-right: 10px;
  width: 30px;
  height: 30px;
}

.images {
  width: 150px;
  height: 150px;
  margin-right:1em;
}
ul {
  list-style: none;
  margin: 25px 50px 75px 30px;
}

li.main-list {
  padding: 25px;
  border-bottom: solid 3px white;
  font-size: larger;
}

.sideNav {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #161515;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
}

.home-link {
  border: 1px dotted white;
  background: #1d1f1d;
  width: 75px;
}

.detail-container {
  display: flex;
  flex-direction: wrap;
  align-items: top;
  text-align: left;
  margin-bottom: 1em;
}

.coin-table {
  margin-left: 0;
}

th {
  text-align: left;
  vertical-align: top;
}

td {
  text-align: left;
  padding-left: 2.5em;
  vertical-align: top;
}

.notFound {
  padding-top: 200px;
}